<div class="page-content">
  <h1 class="text-center mt-4">Listing all articles</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <%= link_to '+ New article', new_article_path, class: "btn btn-lg btn-outline-success" %>
      </div>
    </div>
    <% @articles.each do |article| %>
      <div class="row justify-content-center">
        <div class="col-8 mt-4 mb-4">
          <div class="card text-center shadow-sm mb-5 bg-white rounded">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= article.title %></h5>
              <p class="card-text"><%= article.description %></p>
              <%= link_to "View", article_path(article), class: "btn btn-outline-primary" %>
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-secondary" %>
              <%= link_to "Delete", article_path(article),
                          class: "btn btn-outline-danger",
                          method: :delete,
                          data: {confirm: "U MAD?"} %>
            </div>
            <div class="card-footer text-muted">
              <% if article.created_at != article.updated_at %>
                Edited <%= time_ago_in_words(article.updated_at) %> ago
              <% else %>
                Created <%= time_ago_in_words(article.created_at) %> ago.
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>